# deps
node_modules/

# optional vendor bundles
# vendor/

# OS
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output (if added later)
dist/
!vendor/**/dist/
!vendor/**/dist/**

# editor
.vscode/
.idea/

local_develop/
